<html>
<head>
  <title>Udacity Student Projects</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static "css/bobblehead.css" %}"/>
</head>

<body class="container">
	<div class="row pad-10 margin-top-20 highlight">
		<div class="col-md-12">
      <a href="/projects/{{submission.project.id}}">
				<img src="{% static "images/arrow-back-white-1x.png" %}" alt="Back to Project"/>
				Back
			</a>
		</div>
	</div>

  <div class="row">
    <div class="col-md-12">
      <h2>{{submission.project.title}}</h2>
    </div>
  </div>

  <div class="row pad-top-20">
    <div class="col-md-2 text-right">
      <b>Submission Link</b>
    </div>
    <div class="col-md-10">
      <a href="{{ submission.link }}">{{ submission.link }}</a>
    </div>
  </div>

  <div class="row pad-top-20">
    <div class="col-md-2 text-right">
      <b>Description</b>
    </div>
    <div class="col-md-10">
      {{ submission.description }}
    </div>
  </div>

  <div class="row pad-top-20">
    <div class="col-md-2 text-right">
      <b>Submitted By</b>
    </div>
    <div class="col-md-10">
      {% for member in submission.members.all %}
        <a href="{% url 'user_profile:show' member.user_key %}">
          {{ member.nickname }}
        </a>
      {% endfor %}
    </div>
  </div>

  <form action="{% url 'comments:new_comment' submission.id %}" method="post" class="form-horizontal" autocomplete="off">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_content" class="col-md-2 control-label">Comment</label>
      <div class="col-md-4">
        <textarea class="form-control" id="id_content" name="content" rows="3" required></textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-4">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>

{% for comment in comment_list %}
  <div class="row pad-top-20">
    <div class="col-md-2 text-right">
      <a href="{% url 'user_profile:show' comment.user.user_key %}">
          {{ comment.user.nickname }}
      </a>
      <p>
<!--       <form action="{% url 'comments:edit_comment' submission.id comment.id %}" method="post">
        <button type="submit">Edit</button>
      </form>
      <form action="{% url 'comments:delete_comment' submission.id comment.id %}" method="post">
        <button type="submit">Delete</button>
      </form> -->
      <a href="{% url 'comments:edit_comment' submission.id comment.id %}">Edit</a>|<a href="{% url 'comments:delete_comment' submission.id comment.id %}">Delete</a>
    </div>
    <div class="col-md-10">
        <p>{{comment.content|safe}}</p>
        <p><em>{{comment.posted}}</em></p>
    </div>
  </div>
{% endfor %}

</body>
</html>
