<!DOCTYPE html>
<html>
<head>
  <title>Udacity Student Projects</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static "css/bobblehead.css" %}"/>
</head>

<body class="container">
  <div class="row pad-10 margin-top-20 highlight">
    <div class="col-md-12">
      <a href="{% url 'projects:index' %}">
        <img src="{% static "images/arrow-back-white-1x.png" %}" alt="Return to main page"/>
        Back
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>{{project.title}}</h2>
      <div>
        Created by:
        <a href="{% url 'user_profile:show' project.user.user_key %}">
          {{project.user}}
        </a>
      </div>
      <div>
        Posted: {{project.posted}}
      </div>
      <h4>{{project.description|linebreaksbr}}</h4>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-2">
      <b>Difficulty</b>
    </div>
    <div class="col-md-10">
      {{ project.difficulty }}
    </div>
  </div>

  <div class="row pad-top-20">
    <div class="col-md-2">
      <b>Resources</b>
    </div>
    <div class="col-md-10">
      {% for article in project.articles.all %}
        <div>
          <a href="{{ article.url }}"> {{ article.url }}</a>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="row pad-top-20">
    <div class="col-md-2">
      <b>Tags</b>
    </div>
    <div class="col-md-10">
      <ul class="list-unstyled">
      {% for tag in project.tags.all %}
          <li class="badge">{{ tag.tag_name }}</li>
      {% endfor %}
      </ul>
    </div>
  </div>

  {% if current_user == project.user.email %}
  <div class="row">
    <div class="col-md-offset-2 col-md-1">
      <div class="text-center">
        <div>
          <a href="{% url 'projects:edit_project' project.id %}">
            <img src="{% static "images/edit-black-2x.png" %}" alt="Edit"/>
          </a>
        </div>
        Edit
      </div>
    </div>

    <div class="col-md-1">
      <div class="text-center">
        <div>
          <a href="{% url 'projects:delete_project' project.id %}">
            <img src="{% static "images/delete-black-2x.png" %}" alt="Delete"/>
          </a>
        </div>
        Delete
      </div>
    </div>
  </div>
  {% endif %}
  <hr>

  <div class="row">
    <div class="col-md-12">
      <h4>Submissions for this project</h4>
    </div>
    <div class="col-md-12">
    {% if submissions_list %}
      <ul class="list-unstyled">
       {% for submission in submissions_list %}
       <li>
         <a href="{% url 'submissions:show_submission' submission.id %}">{{submission.link}}, by - {% for member in submission.members.all %} {{ member.nickname }} | {% endfor %} </a>
        
       </li>
       {% endfor %}
     </ul>
    {% else %}
        No submissions yet
    {% endif %}
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <b><a href="{% url 'submissions:new_submission' project.id %}">Submit your solution</a></b>
    </div>
  </div>

</body>
</html>
