<!DOCTYPE html>
<head>
  <title>Udacity Student Projects</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
</head>

<body class="container">
  <div class="row">
    <div class="col-md-offset-2">
      <h1>Log in</h1><br>
    </div>
  </div>
  <div class="row">
    {% if error_message %}
    <div class="panel panel-default">
      <strong>{{ error_message }}</strong>
    </div>
    {% endif %}
  </div>

  <form class="form-horizontal" action="{% url 'user_profile:login_webapp' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label class="col-md-2 control-label">Username</label>
      <div class="col-md-4">
        <input class="form-control" type="text" name="username" placeholder="username" />
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-md-2 control-label">Password</label>
      <div class="col-md-4">
        <input class="form-control" type="password" name="password" />
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-md-offset-2 col-md-4">
        <input type="submit" value="Login" />
      </div>
    </div>
  </form>

  <p><a href="{% url 'user_profile:create_profile' %}">Create User</a></p>
  
  <form class="" action="{% url 'user_profile:login_udacity' %}" method="post">
  {% csrf_token %}
    <p>Log In through Udacity!</p>
    <input type="submit" value="login thru udactiy">
  </form>
</body>
</html>