<!-- <form action="{% url 'webapp:create_project' %}" method="post">
{% csrf_token %}

    <p>Title<input type="text" name="title" /></p>
    <p>Description<input type="text" name="description" /></p>
    <p>Collaborators<select name="collaborators">
    {% for i in "1234567" %}
        <option value={{i}}> {{i}}</option>
    {% endfor %}
    </select></p>
    <p>Category</p>
    <input type="radio" name="category" value="STUDENT">Student Project<br>
    <input type="radio" name="category" value="UDACITY">Udacity Project<br>
    <input type="radio" name="category" value="ENTERPRISE">Enterprise Project<br>
    <input type="radio" name="category" value="OPEN SOURCE">Open Source Project<br>
    <input type="radio" name="category" value="CONTEST">Contest<br>

    <p>Articles<input type="text" name="articles" /></p>
    <h2>This is tags: {{tags}}</h2>
    <ul>{% for speaker in tags.all %}
        <li>{{ speaker }}</li>
        {% endfor %}
    </ul>
    {% for tag in project.tag.all %}
        {{tag.name}}
        {% endfor %}
    <p>Tags<select name="tags">
            {% for tag in tags %}
                <option value="{{tag.tag_name}}">{{tag.tag_name}}</option>
            {% endfor %}
        </select></p>

<input type="submit" value="create_project" />
</form>
 -->
<html>
<head>
  <title>Udacity Student Projects</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static "bobblehead/css/bobblehead.css" %}"/>
</head>
  <form action="{% url 'webapp:create_project' %}" method="post">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Submit" />
  </form>
</html>
