

<form action="{% url 'webapp:createproject' %}" method="post">
{% csrf_token %}
    <input type="text" name="title" />
    <input type="text" name="description" />
    <select name="collaborators">
    {% for i in range(1,10) %}
        <option value=i>i</option>
    {% endfor %}
    </select>
    <p>Category</p>
    <input type="radio" name="category" value="STUDENT">Student Project<br>
    <input type="radio" name="category" value="UDACITY">Udacity Project<br>
    <input type="radio" name="category" value="ENTERPRISE">Enterprise Project<br>
    <input type="radio" name="category" value="OPEN SOURCE">Open Source Project<br>
    <input type="radio" name="category" value="CONTEST">Contest<br>

    <input type="text" name="articles" />
    <select name="tags">
        {% for tag in tags %}
            <option value={{tag.tag_name}}>{{tag.tag_name}}</option>
        {% endfor %}
    </select>

<input type="submit" value="createproject" />
</form>
