<!--
    <p>Category</p>
    <input type="radio" name="category" value="STUDENT">Student Project<br>
    <input type="radio" name="category" value="UDACITY">Udacity Project<br>
    <input type="radio" name="category" value="ENTERPRISE">Enterprise Project<br>
    <input type="radio" name="category" value="OPEN SOURCE">Open Source Project<br>
    <input type="radio" name="category" value="CONTEST">Contest<br>

    <p>Articles<input type="text" name="articles" /></p>
    <h2>This is tags: {{tags}}</h2>
    <ul>{% for speaker in tags.all %}
        <li>{{ speaker }}</li>
        {% endfor %}
    </ul>
    {% for tag in project.tag.all %}
        {{tag.name}}
        {% endfor %}
    <p>Tags<select name="tags">
            {% for tag in tags %}
                <option value="{{tag.tag_name}}">{{tag.tag_name}}</option>
            {% endfor %}
        </select></p>

<input type="submit" value="create_project" />
</form>
 -->


<!---
<tr><th><label for="id_collaborators">Collaborators:</label></th><td><input id="id_collaborators" name="collaborators" type="number" value="1" /></td></tr>
<tr><th><label for="id_category">Category:</label></th><td><select id="id_category" name="category">
<option value="STUDENT" selected="selected">Student Project</option>
<option value="UDACITY">Udacity Project</option>
<option value="ENTERPRISE">Enterprise Project</option>
<option value="OPEN SOURCE">Open Source</option>
<option value="CONTEST">Contest</option>
</select></td></tr>

<tr><th><label for="id_tags">Tags:</label></th><td><select multiple="multiple" id="id_tags" name="tags">
<option value="1">This</option>
<option value="2">That</option>
</select></td></tr>
      <input type="submit" value="Submit" />
-->


<html>
<head>
  <title>Udacity Student Projects</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static "bobblehead/css/bobblehead.css" %}"/>
</head>

<body class="container">
    <form action="{% url 'webapp:create_project' %}" method="post" class="form-horizontal">
      {% csrf_token %}
      <div class="form-group">
        <label for="id_title" class="col-md-2 control-label">Title</label>
        <div class="col-md-4">
          <input type="text" class="form-control" id="id_title" required>
        </div>
      </div>

      <div class="form-group">
        <label for="id_description" class="col-md-2 control-label">Instructions</label>
        <div class="col-md-4">
          <textarea class="form-control" id="id_description" rows="3" required></textarea>
        </div>
      </div>

      <div class="form-group">
        <label for="id_articles" class="col-md-2 control-label">Resources</label>
        <div class="col-md-4">
          <input type="text" class="form-control" id="id_articles">
        </div>
      </div>

      <div class="form-group">
        <label for="id_tags" class="col-md-2 control-label">Tags</label>
        <div class="col-md-4">
          <input type="text" class="form-control" id="id_tags">
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-2 col-md-4">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
    </form>
</body>
</html>
