<h1>{{project.title}}</h1>
<h2>{{project.description}}</h2>
<p>Number of collaborators: {{project.collaborators}}</p>
<p>Posted on: {{project.posted}}</p>
<p>Project Category: {{project.category}}</p>
<p>Project Articles: {{project.articles}}</p>
<p>Project Tags:</p>
<ul>
{% for tag in project.tags.all %}
    <li>{{ tag.tag_name }}</li>
{% endfor %}
</ul>

<p>Here is the list of submissions for this project!</p>
{% if submissions_list %}
 <ul>
  {% for submission in submissions_list %}
  <li>
    <a href="#">{{submission.link}}</a>
  </li>
  {% endfor %}
</ul>
{% else %}
    <p>No submissions</p>
{% endif %}

<a href="{% url 'webapp:edit_project' project.id %}">Edit</a>
<a href="{% url 'webapp:delete_project' project.id %}">Delete</a>

<p><a href="{% url 'submissions:new_submission' project.id %}">New Submission</a>
</p>

<p><a href="{% url 'webapp:index' %}">Home</a></p>
</ul>
